<a href="https://colab.research.google.com/github/varmagsr/ML/blob/main/ML_NaiveBayes_TitanicSurvival_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [63]:
import pandas as pd
import numpy as np

In [64]:

df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1.0
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1.0
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1.0
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0.0

In [65]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500       0.0
1       1  female  38.0  71.2833       1.0
2       3  female  26.0   7.9250       1.0
3       1  female  35.0  53.1000       1.0
4       3    male  35.0   8.0500       0.0

In [66]:
inputs = df.drop('Survived',axis='columns')
target = df.Survived

In [67]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [68]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0

In [69]:
inputs.drop(['Sex','male'],axis='columns',inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1

In [70]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [71]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [72]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.Fare = inputs.Fare.fillna(inputs.Fare.mean())
inputs.head(10)

   Pclass        Age     Fare  female
0       3  22.000000   7.2500       0
1       1  38.000000  71.2833       1
2       3  26.000000   7.9250       1
3       1  35.000000  53.1000       1
4       3  35.000000   8.0500       0
5       3  29.699118   8.4583       0
6       1  54.000000  51.8625       0
7       3   2.000000  21.0750       0
8       3  27.000000  11.1333       1
9       2  14.000000  30.0708       1

In [73]:
len(inputs)

891

In [84]:
#inputs = inputs.dropna(thresh=1)
#inputs = inputs[~inputs['Age'].isnull()]
#inputs = inputs[~inputs['Fare'].isnull()]
#inputs = inputs[~inputs['Pclass'].isnull()]
#inputs = inputs[~inputs['female'].isnull()]
#len(inputs)
inputs.round(2)

     Pclass   Age   Fare  female
0         3  22.0   7.25       0
1         1  38.0  71.28       1
2         3  26.0   7.92       1
3         1  35.0  53.10       1
4         3  35.0   8.05       0
..      ...   ...    ...     ...
886       2  27.0  13.00       0
887       1  19.0  30.00       1
888       3  29.7  23.45       1
889       1  26.0  30.00       0
890       3  32.0   7.75       0

[891 rows x 4 columns]

In [85]:
#inputs.to_excel("output.xlsx")

In [86]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [87]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [90]:
model.fit(X_train,y_train)

ValueError: ignored

In [83]:
model.score(X_test,y_test)

ValueError: ignored